* {
    margin: 0;
    padding: 0;
}

body {
    background: rgb(244,244,246);

    padding-top: 44px;
    padding-bottom: 49px;
}

.DS_header {
    background: rgb(40,133,202);
    line-height: 44px;
    font-size: 18px;
    text-align: center;
    color: white;


    width: 100%;
    left: 0;
    top: 0;
    position: fixed;

    z-index:9999;

}

.DS_second_section img {
    width: 100%;
}


/*成行的标签写法: display:table; width:需求值*/
footer{
    display: table;
    width: 100%;
    background: black;
    height: 49px;

    left: 0;
    bottom: 0;
    position: fixed;

}

/*成列的标签写法: display:table-cell; width:需求值*/
footer a {
    display: table-cell;
    width: 20%;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
}

footer a img{
    width: 18px;
}

footer a span{
    display: block;
    font-size: 12px;
    color: white;
}

.BP_first_section{
    display: table;
    width: 100%;
    height: 49px;
    left: 0;

    top: 44px;
    position: fixed;
    background: rgb(244, 244, 246);
}

.BP_first_section a{
    display: table-cell;
    width: 33.3%;
    text-align: center;

    vertical-align: middle;
    text-decoration: none;
}
.BP_span{
    font-size: 14px;
    text-align: center;
}


.BP_external_div {
    text-align: center;
    display: block;
    background: white;
}


.BP_p {
    text-align: left;
    padding-left: 20px;
    font-size: 10px;
    line-height: 2em;
    color: gray;
    margin-top:-6px;
}

.BP_external_second_div{
    text-align: center;
    display: block;
    background:rgb(244, 244, 246) ;
}